<div class="container">
  <h3 mat-dialog-title>Wollen sie den Nutzer wirklich Löschen?</h3>
  <div mat-dialog-content>
    Name: {{data.name}}
    <p></p>
    E-Mail: {{data.email}}
    <p></p>
  </div>


  <div class="form">
    <mat-form-field>
      <mat-label>Admin Passwort</mat-label>
      <input
        matInput
        [type]="hide ? 'password' : 'text'"
        name="ownPassword"
        [(ngModel)]="data.own_password"
        required
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="1" (click)="confirmDelete()">Löschen</button>
    <button mat-button (click)="onNoClick()" tabindex="-1">Aktualisieren</button>
  </div>
</div>
