<div class="table-page-wrapper">
  <div class="table-control">
    <div *ngIf="editableReferences">
      <app-autocomplete-select
        [editable]="editable"
        [possibleObjects]="possibleValues"
        [idsOfObjectsToHide]="idsOfObjectsToHide"
        [nameToShowInSelection]="nameToShowInSelection"
        [keepAutocompleteOpenAfterClick]="true"
        (selectedElementChange)="addReference($event)"
      ></app-autocomplete-select>
    </div>
    <mat-form-field class="filter">
      <mat-label>Tabelle filtern</mat-label>
      <input
        matInput
        [(ngModel)]="tableFilterString"
        (ngModelChange)="newFilterStringValue()"
        placeholder="Suchbegriff eingeben..."
      />
      <button
        mat-button
        *ngIf="tableFilterString"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="tableFilterString = ''; applyTableFilter()"
        color="accent"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-paginator
      [pageSizeOptions]="[15, 25]"
      showFirstLastButtons
    ></mat-paginator>
  </div>
  <div class="table-container">
    <table mat-table class="mat-elevation-z8" matSort [dataSource]="dataSource">
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Other Columns -->
      <ng-container
        *ngFor="let column of columnInfo"
        [matColumnDef]="column.dataPath"
        [sticky]="isStickyColumn(column.dataPath)"
      >
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ column.translation || column.dataPath }}
        </th>
        <td mat-cell *matCellDef="let element">
          <app-cell
            *ngIf="column.type === 'Boolean'"
            [editable]="false"
            [(value)]="element[column.dataPath]"
            [inputType]="column.type"
          ></app-cell>
          <ng-container *ngIf="column.type === 'DateRange'">
            <app-date-range-cell
              [editable]="false"
              [(from)]="element[column.dataPath + '.from']"
              [(to)]="element[column.dataPath + '.to']"
            ></app-date-range-cell>
          </ng-container>
          <ng-container
            *ngIf="column.type !== 'DateRange' && column.type !== 'NumRange'"
          >
            <span *ngIf="!column.link">{{ element[column.dataPath] }}</span>
            <a
              mat-button
              color="primary"
              *ngIf="column.link"
              [routerLink]="column.link(element)"
              >{{ element[column.dataPath] }}</a
            >
          </ng-container>
        </td>
      </ng-container>

      <!-- Buttons Column -->
      <ng-container matColumnDef="buttons" stickyEnd>
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <div class="button-wrapper">
            <button
              mat-icon-button
              matTooltip="Entfernen"
              (click)="delete(element)"
              [disabled]="!editable"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>

      <!-- Table Definition -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
