<!-- String Filter -->
<mat-form-field *ngIf="column.type === 'String' || column.type === 'Id'">
  <input
    matInput
    [type]="text"
    [(ngModel)]="filter.value"
    (ngModelChange)="newFilterValue()"
  />
  <button
    matTooltip="exakte Übereinstimmung"
    mat-button
    [color]="filter.options['exact'] ? 'primary' : ''"
    matSuffix
    mat-icon-button
    (click)="
      filter.options['exact'] = !filter.options['exact']; newFilterValue()
    "
  >
    <mat-icon>short_text</mat-icon>
  </button>
  <button
    matTooltip="Groß- und Kleinschreibung beachten"
    mat-button
    [color]="filter.options['caseSensitive'] ? 'primary' : ''"
    matSuffix
    mat-icon-button
    (click)="
      filter.options['caseSensitive'] = !filter.options['caseSensitive'];
      newFilterValue()
    "
  >
    <mat-icon>text_fields</mat-icon>
  </button>
  <button
    *ngIf="filter.value"
    matTooltip="Eingabe löschen"
    mat-button
    matSuffix
    mat-icon-button
    (click)="filter.value = ''; newFilterValue()"
  >
    <mat-icon>cancel</mat-icon>
  </button>
</mat-form-field>

<!-- Number Filter -->
<app-number-range-cell
  *ngIf="
    column.type === 'Int' || column.type === 'Float' || column.type === 'Money'
  "
  [editable]="true"
  [(min)]="filter.min"
  (minChange)="newFilterValue()"
  [(max)]="filter.max"
  (maxChange)="newFilterValue()"
>
</app-number-range-cell>

<!-- NumberRange Filter -->
<ng-container *ngIf="column.type === 'NumRange'">
  <app-number-range-cell
    [editable]="true"
    [(min)]="filter.minValue.min"
    (minChange)="newFilterValue()"
    [(max)]="filter.minValue.max"
    (maxChange)="newFilterValue()"
    placeholderMin="minmin"
    placeholderMax="minmax"
  >
  </app-number-range-cell>
  <app-number-range-cell
    [editable]="true"
    [(min)]="filter.maxValue.min"
    (minChange)="newFilterValue()"
    [(max)]="filter.maxValue.max"
    (maxChange)="newFilterValue()"
    placeholderMin="maxmin"
    placeholderMax="maxmax"
  >
  </app-number-range-cell>
</ng-container>

<!-- Date Filter -->
<app-date-range-cell
  *ngIf="column.type === 'Date'"
  [editable]="true"
  [(from)]="filter.from"
  (fromChange)="newFilterValue()"
  [(to)]="filter.to"
  (toChange)="newFilterValue()"
>
</app-date-range-cell>

<!-- DateRange Filter -->
<ng-container *ngIf="column.type === 'DateRange'">
  <app-date-range-cell
    [editable]="true"
    [(from)]="filter.fromValue.from"
    (fromChange)="newFilterValue()"
    [(to)]="filter.fromValue.to"
    (toChange)="newFilterValue()"
    placeholderFrom="Startdatum von"
    placeholderTo="Startdatum bis"
  >
  </app-date-range-cell>
  <app-date-range-cell
    [editable]="true"
    [(from)]="filter.toValue.from"
    (fromChange)="newFilterValue()"
    [(to)]="filter.toValue.to"
    (toChange)="newFilterValue()"
    placeholderFrom="Enddatum von"
    placeholderTo="Enddatum bis"
  >
  </app-date-range-cell>
</ng-container>
