<div #booleanInputType *ngIf="inputType == 'boolean'">
  <mat-checkbox
    class="checkbox"
    [disabled]="!editable"
    [ngModel]="value"
    (ngModelChange)="change($event)"
  ></mat-checkbox>
</div>

<div #enumInputType *ngIf="inputType == 'enum'">
  <mat-form-field *ngIf="editable; else nonEditableText">
    <mat-select [(ngModel)]="value" (ngModelChange)="change($event)">
      <mat-option *ngFor="let option of enumValues" [value]="option">
        {{ option }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <ng-template #nonEditableText>
    {{ value }}
  </ng-template>
</div>

<div #otherInputType *ngIf="inputType != 'enum' && inputType != 'boolean'">
  <mat-form-field *ngIf="editable; else nonEditableText">
    <input
      matInput
      [type]="inputType"
      [ngModel]="value"
      (ngModelChange)="change($event)"
    />
  </mat-form-field>
  <ng-template #nonEditableText>
    {{ value }}
  </ng-template>
</div>
