<div #booleanInputType *ngIf="htmlInputType === 'boolean'">
  <mat-checkbox
    #input="ngModel"
    [required]="required"
    class="checkbox"
    [disabled]="!editable"
    [ngModel]="value"
    (ngModelChange)="change($event)"
  ></mat-checkbox>
</div>

<div #enumInputType *ngIf="htmlInputType === 'enum'">
  <mat-form-field *ngIf="editable; else nonEditableText">
    <mat-select
      [(ngModel)]="value"
      (ngModelChange)="change($event)"
      #input="ngModel"
      [required]="required"
    >
      <mat-option *ngFor="let option of enumValues" [value]="option">
        {{ option }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <ng-template #nonEditableText>
    {{ value }}
  </ng-template>
</div>

<div
  #otherInputType
  *ngIf="htmlInputType === 'number' || htmlInputType === 'text'"
>
  <mat-form-field *ngIf="editable; else nonEditableText">
    <input
      #input="ngModel"
      matInput
      [type]="htmlInputType"
      [ngModel]="value"
      (ngModelChange)="change($event)"
      [required]="required"
    />
  </mat-form-field>
  <ng-template #nonEditableText>
    <span *ngIf="!link">{{ value }}</span>
    <a mat-button color="primary" *ngIf="link" [routerLink]="link">{{value}}</a>
  </ng-template>
</div>
