<div class="table-page-wrapper">
  <div class="table-control">
    <button mat-raised-button color="primary" class="table-control-button" disabled i18n>
      Alle ausgewählten Fahrräder bearbeiten
    </button>
    <button
      mat-raised-button
      class="table-control-button"
      matTooltip="Tabllendaten aktualisieren. Achtung! Alle ungespeicherten Änderungen gehen verloren."
      (click)="reloadTable()"
      [disabled]="reloadingTable"
    >
      <mat-icon class="spin">sync</mat-icon>
    </button>
    <button
      mat-raised-button
      class="table-control-button"
      (click)="addEmptyRow()"
      [disabled]="reloadingTable"
    >
      <mat-icon class="spin">add</mat-icon>
    </button>
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Suchbegriff eingeben..."
        #input
      />
    </mat-form-field>
    <mat-paginator
      [pageSizeOptions]="[15, 25, 30, 50, 100]"
      showFirstLastButtons
    ></mat-paginator>
  </div>
  <div class="table-container">
    
    <table
      mat-table
      class="mat-elevation-z8"
      matSort
      cdkDropList
      cdkDropListOrientation="horizontal"
      (cdkDropListDropped)="drop($event)"
      [dataSource]="data"
    >
      <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

      <!-- Checkbox Column -->
      <ng-container matColumnDef="select" sticky>
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox
            (change)="$event ? masterToggle() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
          >
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)"
          >
          </mat-checkbox>
        </td>
      </ng-container>


      <!-- Other Columns -->
      <ng-container
        *ngFor="let column of columnInfo"
        [matColumnDef]="column.name"
        [sticky]="isStickyColumn(column.name)"
      >
        <!-- add cdkDrag to make columns draggable-->
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ getHeader(column.name) }}
        </th>
        <td mat-cell *matCellDef="let element">
          <app-cell
          *ngIf="column.type === 'Boolean' || (element.newObject || !column.readonly && element.isLockedByMe); else stringValue"
            [editable]="(element.newObject && column.acceptedForCreation) || !column.readonly && element.isLockedByMe"
            [required]="(element.newObject && column.requiredForCreation)"
            (validityChange)="validityChange(element, column.name, $event)"
            [(value)]="element[column.name]"
            [inputType]="column.type"
          ></app-cell>
          <ng-template #stringValue>{{ element[column.name] }}</ng-template>
        </td>
      </ng-container>

      <!-- Buttons Column -->
      <ng-container matColumnDef="buttons" stickyEnd>
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <div class="button-wrapper" *ngIf="!element.newObject">
            <button
              mat-icon-button
              (click)="edit(element)"
              *ngIf="
                !element.isLockedByMe &&
                !element.isLocked &&
                !isLoading(element.id)
              "
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              mat-icon-button
              *ngIf="
                !element.isLockedByMe &&
                !isLoading(element.id) &&
                !element.isLocked
              "
            >
              <mat-icon>delete</mat-icon>
            </button>

            <mat-spinner
              [diameter]="32"
              *ngIf="isLoading(element.id)"
            ></mat-spinner>

            <button
              mat-icon-button
              *ngIf="element.isLockedByMe && !isLoading(element.id)"
              (click)="save(element)"
            >
              <mat-icon>save</mat-icon>
            </button>
            <button
              mat-icon-button
              matTooltip="Alle ungespeicherten Änderungen verwerfen."
              *ngIf="element.isLockedByMe && !isLoading(element.id)"
              (click)="cancel(element)"
            >
              <mat-icon>cancel</mat-icon>
            </button>

            <mat-icon
              *ngIf="element.isLocked"
              matTooltip="Dieser Eintrag wird gerade von einem anderen Bearbeiter editiert. Aktualisieren Sie die Tabelle, um den neuen Status abzurufen."
              >locked</mat-icon
            >
          </div>
          <div class="button-wrapper" *ngIf="element.newObject" [matTooltip]="'Nicht ausgefüllte Felder: '+countUnvalidFields(element)">
            <button
              mat-icon-button
              [disabled]="countUnvalidFields(element) > 0"
              (click)="create(element)"
            >
              <mat-icon>save</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>

      <mat-spinner
      [diameter]="32"
      *ngIf="!isLoaded"
    ></mat-spinner>
     

      <!-- Table Definition -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-card *ngIf="!isLoaded" style="display: flex; justify-content: center; align-items: center">
      <mat-spinner [diameter]="320"></mat-spinner>
    </mat-card>
  </div>
</div>
