<div class="table-control">
  <button mat-raised-button color="primary">Primary</button>
  <button mat-raised-button color="accent">Accent</button>
</div>
<table mat-table [dataSource]="bikes" class="mat-elevation-z8">
  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td
      mat-cell
      *matCellDef="let element"
      contenteditable
      (input)="onTableInput(element)"
    >
      {{ element.name }}
    </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="frameNumber">
    <th mat-header-cell *matHeaderCellDef>Fahrgestellnummer</th>
    <td mat-cell *matCellDef="let element">
      <!--<mat-form-field>
        <input matInput color="warn" [value]="element.security.frameNumber"/>
      </mat-form-field>-->
      {{ element.security.frameNumber }}
    </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="numberOfChildren">
    <th mat-header-cell *matHeaderCellDef>Anzahl Kinder</th>
    <td mat-cell *matCellDef="let element">{{ element.numberOfChildren }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
