<div
  class="dateRange-wrapper"
  *ngIf="editable || label; else stringValue"
  [formGroup]="dateRangeGroup"
>
  <mat-form-field class="date-range-input">
    <input
      matInput
      [placeholder]="placeholderFrom"
      [matDatepicker]="fromPicker"
      [value]="stringToDate(from)"
      disabled
      formControlName="from"
      (dateChange)="startDateChange($event)"
    />
    <button
      mat-button
      *ngIf="editable && from"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="startDateChange({ value: null })"
    >
      <mat-icon>close</mat-icon>
    </button>
    <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
    <mat-datepicker #fromPicker [disabled]="!editable"></mat-datepicker>
  </mat-form-field>
  <i class="spacer-string">bis</i>
  <mat-form-field class="date-range-input">
    <input
      matInput
      [placeholder]="placeholderTo"
      [matDatepicker]="toPicker"
      [value]="stringToDate(to)"
      disabled
      formControlName="to"
      (dateChange)="endDateChange($event)"
    />
    <button
      mat-button
      *ngIf="editable && to"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="endDateChange({ value: null })"
    >
      <mat-icon>close</mat-icon>
    </button>
    <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
    <mat-datepicker #toPicker [disabled]="!editable"></mat-datepicker>
  </mat-form-field>
</div>
<ng-template #stringValue>
  <div class="date-string">
    {{ toLocaleDate(from) }} <i>bis</i> {{ toLocaleDate(to) }}
  </div>
</ng-template>
