
<div class="grid-list-spacer">
<div class="big-list">
<mat-grid-list class="big-list" cols="2" rowHeight="3:1">
    <mat-grid-tile routerLink = "/table/bikes">Lastenräder</mat-grid-tile>
    <mat-grid-tile routerLink = "/table/participants">Beteiligte</mat-grid-tile>
    <mat-grid-tile routerLink = "/table/lendingStations">Ausleihstationen</mat-grid-tile>
    <mat-grid-tile routerLink = "/table/lendingStations">Tabelle 4</mat-grid-tile>
  </mat-grid-list>
  <div>
  <mat-grid-list cols="4" rowHeight="30px">
    <mat-grid-tile routerLink = "/table/equipmentTypes">Equipmenttypen</mat-grid-tile>
    <mat-grid-tile routerLink = "/table/bikes">Tabelle 7</mat-grid-tile>
    <mat-grid-tile routerLink = "/table/bikes">Tabelle 8</mat-grid-tile>
    <mat-grid-tile routerLink = "/table/bikes">Tabelle 9</mat-grid-tile>
    <mat-grid-tile routerLink = "/table/bikes">Tabelle 10</mat-grid-tile>
    <mat-grid-tile routerLink = "/table/bikes">Tabelle 11</mat-grid-tile>
    <mat-grid-tile routerLink = "/table/bikes">Tabelle 12</mat-grid-tile>
    <mat-grid-tile routerLink = "/table/bikes">Tabelle 13</mat-grid-tile>
    <mat-grid-tile routerLink = "/table/bikes">Tabelle 14</mat-grid-tile>
    <mat-grid-tile routerLink = "/table/bikes">Tabelle 15</mat-grid-tile>
    <mat-grid-tile routerLink = "/table/bikes">Tabelle 16</mat-grid-tile>
    <mat-grid-tile routerLink = "/table/bikes">Tabelle 17</mat-grid-tile>
  </mat-grid-list>
</div>

  
