<div class="page-wrapper">
  <div class="link-box">
    <div class="text-wrapper">
      <h1>Wohin soll es gehen?</h1>
      <mat-list>
        <mat-list-item *ngFor="let link of tableLinks">
          <a mat-button color="primary" [routerLink]="link.route">
            <mat-icon [svgIcon]="link.svgIconName" *ngIf="!link.iconName"></mat-icon>
            <mat-icon *ngIf="link.iconName">{{ link.iconName }}</mat-icon>
            {{ link.displayName }}
          </a>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
  <div class="banner-box mat-elevation-z8">
    <span class="center-text mat-display-3">Willkommen, {{ username }}!</span>
    <div class="banner-img-box">
      <img class="banner-img" src="../../../assets/rain.png" />
    </div>
  </div>
</div>
