<div id="page-wrapper">
  <mat-toolbar id="navbar" color="primary">
    <button mat-icon-button (click)="navService.openNav()" *ngIf="loggedIn">
      <mat-icon>menu</mat-icon>
    </button>
    <span>fLotte</span>
    <button mat-icon-button [matMenuTriggerFor]="menu" id="menu-trigger-button">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <div
        mat-menu-item
        disableRipple="true"
        (click)="$event.stopPropagation()"
      >
        <mat-slide-toggle
          (change)="changeTheme($event)"
          [checked]="darkThemeIsActive"
          color="primary"
          >Dark Mode</mat-slide-toggle
        >
      </div>
      <button *ngIf="loggedIn" mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Ausloggen</span>
      </button>
    </mat-menu>
  </mat-toolbar>

  <mat-sidenav-container id="content">
    <mat-sidenav #appDrawer mode="over" opened="false">
      <mat-nav-list class="nav-profile-list">
        <mat-list-item class="nav-profile-list-item">
            <sidenav-profile>
          </sidenav-profile>
        </mat-list-item>
      </mat-nav-list>
      <mat-nav-list>
        <app-menu-list-item *ngFor="let item of navItems" [item]="item"></app-menu-list-item>
      </mat-nav-list>
    </mat-sidenav>
    <!--<mat-sidenav #sidenav>
      <mat-nav-list (click)="sidenav.toggle()">
        <a mat-list-item [routerLink]="'/tableOverview'"> Tabellenübersicht </a>
        <a mat-list-item [routerLink]="'/table/bikes'"> Lastenräder </a>
        <a mat-list-item [routerLink]="'/table/participants'"> Beteiligte </a>
        <a mat-list-item [routerLink]="'/table/lendingStations'"> Ausleihstationen </a>
      </mat-nav-list>
    </mat-sidenav>-->
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
