@import '../theme';

#page-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  #content {
    flex: 1;
  }
  .mat-drawer-content {
    //height: auto;
  }
  #navbar {
    flex: none;
    #menu-trigger-button {
      margin-left: auto;
    }
  }
}


.nav-profile-list {
  padding-top:0px
}

mat-nav-list .nav-profile-list-item {
  height:200px;
  background: mat-color($light-primary, 300);;
  //color:white;
}