<div id="page-wrapper">
  <mat-toolbar id="navbar" color="primary">
    <button mat-icon-button (click)="navService.openNav()" *ngIf="loggedIn">
      <mat-icon>menu</mat-icon>
    </button>
    <span routerLink="/tableOverview" class="link">fLotte Datenbank</span>
    <button mat-icon-button [matMenuTriggerFor]="menu" id="menu-trigger-button">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <div
        mat-menu-item
        disableRipple="true"
        (click)="$event.stopPropagation()"
      >
        <mat-slide-toggle
          (change)="changeTheme($event)"
          [checked]="darkThemeIsActive"
          color="primary"
          >Dark Mode</mat-slide-toggle
        >
      </div>
      <button *ngIf="loggedIn" mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Ausloggen</span>
      </button>
    </mat-menu>
  </mat-toolbar>

  <mat-sidenav-container id="content">
    <mat-sidenav #appDrawer mode="over" opened="false">
      <mat-nav-list class="nav-profile-list">
        <a routerLink = "/profile">
          <mat-list-item class="nav-profile-list-item">
            <sidenav-profile> </sidenav-profile>
          </mat-list-item>
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a
          [routerLink]="link.route"
          *ngFor="let link of tableLinks"
        >
          <mat-list-item [ngClass]="{'primary-color': link.route === router.url.split('?')[0] }">
            <mat-icon class="nav-list-icon">{{ link.iconName }}</mat-icon>
            {{ link.displayName }}
          </mat-list-item>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
