<div class="container">
  <h3 mat-dialog-title>Neuer Nutzer</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">

    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="Name" [(ngModel)]="data.name" name="name" required >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="E-Mail" [(ngModel)]="data.email" name="email" required >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput placeholder="Passwort" [(ngModel)]="data.password" name="password" [type]="hidePW ? 'password' : 'text'">
        <button
          mat-icon-button
          matSuffix
          (click)="hidePW = !hidePW"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hidePW"
        >
          <mat-icon>{{ hidePW ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <div class="form">
      <select-search class="mat-form-field" label="Rollen" 
      [formCtrl]="selectedRoles" 
      [data]="data.rolesData" 
      [preSelectedData]="data.roles" multiple></select-search>
    </div>


    <div class="form">
      <mat-form-field>
        <mat-label>Admin Passwort</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          name="ownPassword"
          [(ngModel)]="data.own_password"
          required
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="confirmAdd()">Erstellen</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Abbrechen</button>
    </div>
  </form>
</div>
