/* You can add global styles to this file, and also import other style files */
@import './theme.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

h1 {
    display: block;
    padding-bottom: 5px;
    position: relative;
}
h1:before {
    content: "";
    position: absolute;
    width: 5rem;
    height: 1px;
    bottom: 0;
    border-bottom: 3px solid #7fc600;
}
h2 {
    display: block;
    padding-bottom: 0;
    position: relative;
}
h2:before {
    content: "";
    position: absolute;
    width: 5rem;
    height: 1px;
    bottom: 0;
    border-bottom: 2px solid #7fc600;
}

.mat-list-item-content {
    width: 100%;
}

.simple-snack-bar .mat-simple-snackbar {
    justify-content: center;
  }