.table-page-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  .headline {
    display: flex;
    align-items: center;
    margin: 0 0.5em;
    margin-top: 0.25em;
    .mat-icon {
      margin-left: 8px;
      user-select: none;
    }
  }
  .table-control {
    margin: 0.5em;
    flex: none;
    .table-control-button {
      margin: 0.25em;
    }
    .filter {
      margin-right: 0.5em;
    }
    .mat-paginator {
      display: inline-block;
      width: 50em;
      margin-right: 0.5em;
    }
  }
  .idle-overlay {
    filter: blur(5px);
  }
  .idle-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
  }
  .table-container {
    width: auto;
    margin-left: 0.5em;
    margin-right: 0.5em;
    max-width: 100%;
    overflow: auto;
    table {
      max-width: 100%;
      margin: 0 auto;
      .mat-header-cell,
      .mat-footer-cell,
      .mat-cell {
        min-width: 3em;
        box-sizing: border-box;
        padding: 0 0.25em;
        ::ng-deep.mat-form-field-infix {
          width: auto !important;
          min-width: 50px !important;
        }
      }
      .mat-header-cell:first-child,
      .mat-cell:first-child {
        padding-left: 1.5em;
      }
      ::ng-deep.mat-form-field {
        width: 100%;
      }

      .highlighted-column {
        box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0.05);
      }

      .mat-table-sticky {
        box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0.1);
      }

      .button-wrapper {
        display: flex;
        flex-direction: row;
      }
    }
  }
  .loading-error-message {
    margin: 3em auto;
    font-size: large;
  }
}

.drive {
  animation-name: translate; // Name der Animation
  animation-duration: 6s; // Dauer der Animation
  animation-iteration-count: 1; // Anzahl der Wiederholungen
}

@keyframes translate {
  0% {
    transform: translateX(0px);
  }
  69% {
    visibility: hidden;
    transform: translateX(100vw);
  }
  70% {
    visibility: hidden;
    transform: translateX(-100vw);
  }
  71% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(0px);
  }
}
